docs/example-flow.txt
[
   {
      "id":"9d6ed3f.20b773",
      "type":"tab",
      "label":"Tahoma Example Flow",
      "disabled":false
   },
   {
      "id":"351ef730.515d88",
      "type":"mqtt out",
      "z":"9d6ed3f.20b773",
      "name":"",
      "topic":"equipments/shutters/bedroom",
      "qos":"",
      "retain":"",
      "broker":"126be58d.2c3b4a",
      "x":830,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"55fcb36e.d1690c",
      "type":"debug",
      "z":"9d6ed3f.20b773",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":770,
      "y":180,
      "wires":[

      ]
   },
   {
      "id":"625a0ed4.ec6ed",
      "type":"tahoma",
      "z":"9d6ed3f.20b773",
      "tahomabox":"dec8cb1e.4a97d8",
      "name":"Chambre",
      "device":"io://path/to/your/device",
      "x":580,
      "y":200,
      "wires":[
         [
            "351ef730.515d88",
            "55fcb36e.d1690c"
         ]
      ]
   },
   {
      "id":"8d10f307.5ded3",
      "type":"change",
      "z":"9d6ed3f.20b773",
      "name":"Open",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"{\"action\":\"open\",\"lowspeed\":true}",
            "tot":"json"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":410,
      "y":220,
      "wires":[
         [
            "625a0ed4.ec6ed"
         ]
      ]
   },
   {
      "id":"eb47e980.59f018",
      "type":"change",
      "z":"9d6ed3f.20b773",
      "name":"Close",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"{\"action\":\"close\",\"lowspeed\":true}",
            "tot":"json"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":410,
      "y":180,
      "wires":[
         [
            "625a0ed4.ec6ed"
         ]
      ]
   },
   {
      "id":"cc51391d.be4ae8",
      "type":"switch",
      "z":"9d6ed3f.20b773",
      "name":"Is Night",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"0",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "outputs":1,
      "x":280,
      "y":180,
      "wires":[
         [
            "eb47e980.59f018"
         ]
      ]
   },
   {
      "id":"d6248a2f.c958a8",
      "type":"switch",
      "z":"9d6ed3f.20b773",
      "name":"Is Day",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"1",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "outputs":1,
      "x":270,
      "y":220,
      "wires":[
         [
            "8d10f307.5ded3"
         ]
      ]
   },
   {
      "id":"9eeac91f.a8a948",
      "type":"inject",
      "z":"9d6ed3f.20b773",
      "name":"Set Day",
      "topic":"",
      "payload":"1",
      "payloadType":"num",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":90,
      "y":220,
      "wires":[
         [
            "cc51391d.be4ae8",
            "d6248a2f.c958a8"
         ]
      ]
   },
   {
      "id":"94b63270.7bc25",
      "type":"inject",
      "z":"9d6ed3f.20b773",
      "name":"Set Night",
      "topic":"",
      "payload":"0",
      "payloadType":"num",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":100,
      "y":180,
      "wires":[
         [
            "cc51391d.be4ae8",
            "d6248a2f.c958a8"
         ]
      ]
   },
   {
      "id":"126be58d.2c3b4a",
      "type":"mqtt-broker",
      "z":"",
      "broker":"localhost",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":""
   },
   {
      "id":"dec8cb1e.4a97d8",
      "type":"tahoma-config",
      "z":"",
      "username":"yourusername",
      "password":"yourpassword"
   }
],